@inherits LayoutComponentBase

<PageTitle>Dealership Blazor App</PageTitle>

<div class="page">
  <div class="top-banner">
    <h1>Dealership Blazor App</h1>
  </div>
  <div class="sidebar">
    <NavMenu />
  </div>
  <div class="main">
    @Body
  </div>
</div>

@code {
}
