@page "/webchatClient"
@rendermode InteractiveWebAssembly

<h3>Web Chat Client</h3>

<h1>Dealer XYZ</h1>

<PageTitle>Dealer Page ABC</PageTitle>

@* <div>
    <label for="dealertoken">Dealer JTW Token:</label>
    <textarea id="dealertoken" @bind="JWTTokensDTO.DealerJwtToken" style="width: 100%; height: 250px; overflow: auto;"></textarea>
</div>
<div>
    <label for="webchatjwttoken">Webchat Jwt Token token:</label>
    <textarea id="webchatjwttoken" @bind="JWTTokensDTO.WebchatJwtToken" style="width: 100%; height: 250px; overflow: auto;"></textarea>
</div> *@



