@page "/webchatClient"
@rendermode InteractiveWebAssembly

<ErrorBoundary>

  <ChildContent>
    <h3>Web Chat Client</h3>

    <h1>Dealer XYZ</h1>

    <PageTitle>Dealer Page ABC</PageTitle>

    <div>
      <label for="dealertoken">Dealer JTW Token:</label>
      <textarea id="dealertoken" @bind="JWTTokensDTO.DealerJwtToken" style="width: 100%; height: 250px; overflow: auto;"></textarea>
    </div>

    <div>
      <label for="webchattoken">Webchat JTW Token:</label>
      <textarea id="webchattoken" @bind="JWTTokensDTO.WebchatJwtToken" style="width: 100%; height: 250px; overflow: auto;"></textarea>
    </div>

  </ChildContent>
  <ErrorContent>
    @context error
    <p>An error occurred while loading the component.</p>
    <p>@errorMessage</p>
    <pre>@errorStackTrace</pre>
  </ErrorContent>

</ErrorBoundary>



